.modal-overlay {
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .modal-box {
    z-index: 999999;
    display: block;
    background: white;
    width: 27%;
    height: 30%;
    padding: auto;
    border-radius: 1rem;
    border-radius: 0px;
    padding: auto;
    text-align: center;
  }
