/* Thomas Catonet */
/* VERSION 1.0 */

.limit {
  height: 10vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CFE2E4;
  width: 100%;
  height:6vh;
  position: absolute;
  top: 0;
  left: 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

li a {
  color: #174C4F;
  display: block;
  text-align: center;
  padding: 2vh 6vh;
  text-decoration: none;
  font-size: 1.5vh;
}


li a:hover:not(.active) {
  background-color: #aabbbd;
  color: white;
}

.active {
  background-color: #aabbbd;
  color: white;
}