/* Thomas Catonet */
/* VERSION 1.0 */

.sucess_sendmail {
  text-align: center;
  background-color: #99ff99;
  border: 5px solid #00b300;
  padding: 200px;
}

.error_sendmail {
  text-align: center;
  background-color: #ff9980;
  border: 5px solid #e62e00;
  padding: 200px;
}
