/* Thomas Catonet */
/* VERSION 1.0 */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: black;
}

.accountInfos {
  font-size: 20px;
  margin-top: 0.25em;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.titleForm {
  margin-bottom: 20px;
}
